---
eleventyComputed:
    permalink: "{{ metadata.rss }}"
eleventyNavigation:
    key: RSS
    order: 99
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <updated>{{ currentBuildDate | dateToRfc3339 }}</updated>
    <link rel="alternate" type="text/html" href="{{ metadata.url | addPathPrefixToFullUrl }}" />
    <id>{{ metadata.url | addPathPrefixToFullUrl }}</id>
    <link rel="self" type="application/atom+xml" href="{{ permalink | htmlBaseUrl(metadata.url) }}"/>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for post in collections.posts | reverse %}
    {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.url) }}{% endset %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link rel="alternate" type="text/html" href="{{ absolutePostUrl }}" />
        <published>{{ post.date | dateToRfc3339 }}</published>
        <updated>{{ (post.data.updated or post.date) | dateToRfc3339 }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html">{{ post.content | renderTransforms(post.data.page, metadata.url) }}</content>
    </entry>
    {%- endfor %}
</feed>
