/* Blogposts */

.c-blogpost__intro {
	color: var(--color-muted);
}

.c-blogpost__intro p:before {
	content: "« ";
}

.c-blogpost__intro p:after {
	content: " »";
}

.c-blogpost__img {
    margin: 1.5em 0;
    object-fit: scale-down;
    display: block;
    width: 100%;
}

.c-blogpost__imgcaption {
    text-align: center;
}

.c-wysiwyg:before {
	content: "-----";
}

.c-blogpost__links:before {
	content: "-----";
}
