code {
    background: var(--color-overlay);
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 1rem;
}

/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

code[class*="language-"],
pre[class*="language-"] {
	color: var(--color-text);
	background: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em auto;
	overflow: auto;
	border-radius: 0.3em;
    width: 90%;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--color-overlay);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--color-subtle);
}

.token.punctuation {
	color: var(--color-text);
}

.namespace {
	opacity: .7;
}

.token.tag,
.token.selector {
    color: var(--color-foam);
}

.token.property,
.token.attr-name,
.token.deleted {
	color: var(--color-iris);
}

.token.number,
.token.string,
.token.char,
.token.builtin,
.token.constant,
.token.symbol,
.token.inserted {
	color: var(--color-gold);
}

.token.boolean {
	color: var(--color-rose);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--color-subtle);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: var(--color-rose);
}

.token.keyword {
	color: var(--color-pine);
}

.token.regex,
.token.important {
	color: var(--color-love);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
