/* Footer */

.c-sitefooter {
    font-size: 1rem;
}

.c-sitefooter__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.c-sitefooter__legal {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    color: var(--color-muted);
    font-size: .8rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
}

.c-sitefooter__legal > div {
    display: flex;
    align-content: center;
}

.c-sitefooter__nav {
    grid-area: nav;
}

.c-sitefooter__social {
    grid-area: social;
}

.c-footernav {
    list-style: none;
    padding: 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.c-footernav__item:not(:last-child) {
    margin-right: 2rem;
}

.c-footernav__link {
    display: block;
    padding: .75rem 0;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;

    transition: color 0.2s ease-in-out;
}

.c-footernav__link:hover {
    text-decoration: none;
}


.c-socialmedia {
    list-style: none;
    margin: 0;
    margin-top: .5rem;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.c-socialmedia__link {
    display: block;
    transition: color 0.2s ease-in-out;
}

.c-socialmedia__link > svg {
    display: block;
}
