.c-siteheader {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.c-siteheader__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 5rem;
    row-gap: 2rem;
}

.c-mainnav {
    list-style: none;
    padding: 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
}

.c-mainnav__item:not(:last-child) {
    margin-right: 1.5rem;
}

.c-mainnav__link {
    display: block;

    line-height: 1;
    letter-spacing: .5px;

    transition: color 0.2s ease-in-out;
}
