/* Undordered lists */

.c-list-ui {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-publications-ui {
    list-style: disc;
}

.c-list-ui > li {
    padding-top: 18px;
    padding-bottom: 18px;
}

.c-list-ui > .c-blog-li {
    border-bottom: 1px solid var(--color-highlightHigh);
}

.c-list-ui > li:last-child {
    border-bottom: unset;
}

/* Ordered lists */

:is(h1, h2, h3) + .c-olist-ui {
    padding:0;
}

.c-olist-ui {
    counter-reset: list -1;
}

.c-olist-ui > li {
    list-style: none;
    counter-increment: list;
}

.c-olist-ui > li:before {
    content: "["counter(list) "] ";
}

/* Spaced lists */

.c-list-spaced {
    list-style: none;
    margin: 0;
    padding: 0;
}
