/* Page content */

.visually-hidden {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.c-pagecontent:before {
    content: "----";
}
