/* Tags */

.c-tags {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.c-tags__item {
  font-size: .75rem;
  font-weight: 400;
  color: var(--color-text);
}

.c-tags__item:not(:last-child) {
  margin-right: 2rem;
}

.c-tags__item:before {
  content: "#";
  display: inline-block;
  color: var(--color-rose);
  margin-right: .1rem;
}
