/* Titles */

h1:before {
    content: "#";
    margin-inline-start: -2ch;
}

h2:before {
    content: "##";
    margin-inline-start: -2ch;
}

h3:before {
    content: "###";
    margin-inline-start: -2ch;
}

:is(h1, h2, h3) {
    display:flex;
    font-weight:700;
    gap:1ch;
    line-height:1.2;
    margin-top: 1rem;
    text-align: left;
}

:is(h1, h2, h3):before {
    color:var(--color-linkalt);
}

/* Special titles */

.c-suptitle {
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.2;
  color: var(--color-muted);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .5rem;
}

.c-smalltitle {
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.2;
  color: var(--color-highlightHigh);
  text-transform: uppercase;
  letter-spacing: 1px;
}
