/**
 * Fira Code is a monospace font adapted from Fira Mono, from Mozilla
 * https://github.com/tonsky/FiraCode
*/

@font-face {
  font-family: "Fira Code";
  src: "../assets/fonts/FiraCode-Regular.woff2" format("woff2");
  font-weight: 400;
  font-style: normal;
}
