---
title: "Blog"
eleventyNavigation:
    key: "Blog"
    order: 0
---

{% block content %}
<div class="c-pageintro">
    <div class="l-container">
        <p class="c-suptitle">swytch@127.0.0.1</p>
        <h1 class="c-h1  c-h1--invert">{{ title }}</h1>
        <div class="c-pageintro__inner">
            <p class="c-txtintro">
                J'écris sur un peu tout ce qui m'intéresse, mais surtout sur
                la tech.
                Avec un peu de chance ça vous intéressera, mais j'espère
                seulement que je pourrais y revenir pour (ré)apprendre
                deux ou troix trucs.
                Continuez à lire ou cliquez sur ce
                <a href="{{ metadata.rss }}">flux RSS</a> !
            </p>
        </div>
    </div>
</div>

<div class="c-banner  c-banner--blog"></div>

<div class="c-pagecontent">
    <div class="l-container">
        {% set postslist = collections.posts %}
        {%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
        <ul reversed class="postlist">
            {%- for post in postslist | reverse %}
            <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
                <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">
                    ({{ post.date | htmlDateString }})
                </time>
                <a href="{{ post.url }}" class="postlist-link">
                    {% if post.data.title %}{{ post.data.title }}{% else%}<code>{{ post.url }}</code>{% endif %}
                </a>
            </li>
            {%- endfor %}
        </ul>
    </div>
</div>
{% endblock %}
