---
title: "Contact"
eleventyNavigation:
    key: "Contact"
    order: 1
---

{% block content %}
<div class="c-pageintro">
    <div class="l-container">
        <div class="c-pageintro__inner">
            <p class="c-suptitle">Terre, système solaire.</p>

            <h1 class="c-h1  c-h1--invert">{{ title }}</h1>
            <p>
                Mon CV en français est disponible
                <a href="/assets/pdf/cv_fr.pdf">ici</a>.
                <br>
                The english version of my resume is available
                <a href="/assets/pdf/cv_en.pdf">here</a>.
            </p>
        </div>
    </div>
</div>

<div class="c-pagecontent">
    <div class="l-container  l-contact">
        <div class="l-contact__main">
            <h2>Au labo</h2>
            <p>
                Vous pouvez me trouver au labo, sur le campus de la Faculté
                des Sciences et Techniques de Nantes :
            </p>
            <p>
                David JULIEN<br>
                Équipe VELo<br>
                Bâtiment 11 - Bureau 221<br>
                ===========<br>
                Faculté de Sciences et Technique de Nantes<br>
                2, rue de la Houssinière<br>
                44322 Nantes CEDEX 3<br>
                France<br>
            </p>

            <h2>Par mail</h2>
            <p>
                Vous pouvez me contacter sur mon adresse académique :
                <a href="mailto:{{ metadata.author.academic }}">{{ metadata.author.academic }}</a>.
            </p>

            <h3>Pretty Good Privacy (PGP)</h3>
            <p>
                J'utilise le protocole PGP pour signer mes mails et
                <em>commits</em>.
                J'utilise deux clefs, que pouvez trouver sur
                <a href="https://keys.openpgp.org">https://keys.openpgp.org</a> :
            </p>
            <ul>
                <li><b>clef personnelle:</b>
                    <code>3BD6 092C B067 6BD4 20CF 94BC 4985 90A3 AA82 A06F</code>
                </li>
                <li><b>clef académique:</b>
                    <code>0D7E DACB 99AB 70DB 6344 9151 1DD6 B2BA 6DD7 8810</code>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
