---
title: "Accueil"
permalink: "index.html"
eleventyNavigation:
    key: "Accueil"
    order: -1
---

{% block content %}
<div class="c-pageintro">
    <div class="l-container">
        <div class="c-pageintro__inner">
            <p class="c-suptitle">Nantes, France.</p>

            <h1>{{ title }}</h1>

            <p class="c-txtintro">
                Je suis doctorant au sein de Nantes Université / Laboratoire
                des Sciences du Numérique de Nantes (LS2N).
                Je travaille sur la vérification de modèles, en particulier
                les modèles différentiels.
            </p>
            <p>
                Ce site a surtout vocation à compiler mes travaux de
                recherches, ainsi qu'à accueillir mon blog.
            </p>
            <p>
                Mon CV en français est disponible
                <a href="/assets/pdf/cv_fr.pdf">ici</a>.
                <br>
                The english version of my resume is available
                <a href="/assets/pdf/cv_en.pdf">here</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
