---
title: "Recherche"
eleventyNavigation:
    key: "Recherche"
    order: 0
---

{% block content %}
<div class="c-pageintro">
    <div class="l-container">
        <div class="c-pageintro__inner">
            <p class="c-suptitle">LS2N, Nantes.</p>
            <h1 class="c-h1  c-h1--invert">{{ title }}</h1>
            <div class="c-pageintro__inner">
                <p class="c-txtintro">
                    Vous trouverez sur cette page les références (doi) de mes
                    différentes publications scientifiques, ainsi que les
                    fichiers <code>.bib</code> et, si possible, les fichiers
                    <code>.pdf</code> associés.

                    Dans tous les cas, vous pouvez me contacter via la page
                    <a href="/contact/">Contact</a> pour obtenir une version
                    libre d'un article.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="c-pagecontent">
    <div class="l-container">
        <h2>Articles de journal</h2>
        {% set articlelist = collections.journals %}
        {%- css %}.articlelist { counter-reset: start-from {{ (articlelistCounter or articlelist.length) + 1 }} }{% endcss %}
        <ul class="c-list-ui c-publications-ui">
            {%- for article in articlelist | reverse %}
            <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
                {{ article.data.author }} -
                <b>{{ article.data.title }}.</b>
                In <em>{{ article.data.journal}}</em>,
                {{ article.data.publication_date }}.
                (<a href="/assets/bib/{{ article.data.bib }}">.bib</a>{% if article.data.hal %},
                <a href="https://hal.science/{{ article.data.hal }}">hal</a>{% endif %}{% if article.data.doi %},
                <a href="https://doi.org/{{ article.data.doi }}">doi</a>{% endif %}{% if article.data.pdf %},
                <a href="/assets/pdf/journals/{{ article.data.pdf }}">.pdf</a>{% endif %})
            </li>
            {%- endfor %}
        </ul>
    </div>
</div>

<div class="c-pagecontent">
    <div class="l-container">
        <h2>Conférences</h2>
        {% set articlelist = collections.conferences %}
        {%- css %}.articlelist { counter-reset: start-from {{ (articlelistCounter or articlelist.length) + 1 }} }{% endcss %}
        <ul class="c-list-ui c-publications-ui">
            {%- for article in articlelist | reverse %}
            <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
                {{ article.data.author }} -
                <b>{{ article.data.title }}.</b>
                In <em>{{ article.data.conference}}</em>,
                {{ article.data.location }}, {{ article.data.publication_date }}.
                (<a href="/assets/bib/{{ article.data.bib }}">.bib</a>{% if article.data.hal %},
                <a href="https://hal.science/{{ article.data.hal }}">hal</a>{% endif %}{% if article.data.doi %},
                <a href="https://doi.org/{{ article.data.doi }}">doi</a>{% endif %}{% if article.data.pdf %},
                <a href="/assets/pdf/conferences/{{ article.data.pdf }}">.pdf</a>{% endif %})
            </li>
            {%- endfor %}
        </ul>
    </div>
</div>
{% endblock %}
