<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="{{ metadata.author.name }}">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.svg">
    <title>{{ title or metadata.title }} - {{ metadata.author.name }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Feed -->
    <link rel="alternate" href="{{ metadata.rss }}" title="{{ metadata.title }}" type="application/atom+xml">

    <!-- Canonical URL -->
    <link href="{{ metadata.url }}{{ page.url }}" rel="canonical" />
</head>

<body>
    <header class="c-siteheader">
        <div class="l-container  c-siteheader__inner">
            <p class="c-siteheader__logo">
                <a aria-label="Homepage" href="/">
                    <img src="/assets/img/logo.svg" width="60" alt="my logo" eleventy:ignore>
                </a>
            </p>

            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
            <nav>
                <ul class="c-mainnav">
                    {%- for entry in collections.all | eleventyNavigation %}
                    <li class="c-mainnav__item">
                        <a href="{{ entry.url }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>
                            {{ entry.title }}
                        </a>
                    </li>
                    {%- endfor %}
                </ul>
            </nav>
        </div>
    </header>

    <main id="skip">
        <heading-anchors>
            {{ content | safe }}
        </heading-anchors>
    </main>

    <footer class="c-sitefooter">
        <div class="l-container">
            <div class="c-sitefooter__legal">
                <div class="c-sitefooter__copyright">
                    <p class="u-margin-all-none">
                        <span class="copyright">&copy;</span> {{ metadata.author.name }} -
                        <time datetime="{{ currentBuildDate | htmlDateString }}">
                            {{ currentBuildDate | readableJSDate("yyyy") }}
                        </time>
                    </p>
                </div>

                <div class="c-sitefooter__acknowledgements">
                    <p class="u-margin-all-none">Propulsé par
                    <a href="https://www.11ty.dev">{{eleventy.generator}}</a>,
                        inspiré par
                        {% for item in acknowledgements %}
                        <a href="{{ item.url }}">{{ item.name }}</a>{% if loop.last %}.
                        {% else %},
                        {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
