---
layout: layouts/base.njk
---
{% block content %}
<article class="c-blogpost">
    <div class="c-blogpost__body  l-container  l-container--narrow">
        <header>
            <p class="c-suptitle">
                <time class="postlist-date" datetime="{{ (updated or date or page.date) | htmlDateString }}">
                    Le {{ page.date | htmlDateString }}.
                    {% if updated %}
                    (modifié le {{ updated | htmlDateString }})
                    {% endif %}
                </time>
            </p>
            {% if img %}
            <figure>
                <img class="c-blogpost__img" src="{{ img.src }}" alt="{{ img.alt }}" width="{{ img.width or 600 }}">
                <figcaption class="c-blogpost__imgcaption">©
                    <a href="{{ img.href }}">
                        {{ img.artist }}
                    </a>
                    - {{ img.year }}
                </figcaption>
            </figure>
            {% endif %}
            <h1 class="c-h1">{{ title }}</h1>
            {% if excerpt %}
            <div class="c-blogpost__intro">
                <p>{{ excerpt }}</p>
            </div>
            {% endif %}
        </header>

        <div class="c-wysiwyg">
            {{ content | safe }}
        </div>

        {% if links %}
        <div class="c-blogpost__links">
            <h2>Liens</h2>
            {% for link in links %}
            {% if loop.first %}<ol class="c-olist-ui">{% endif %}
                <li>
                    <a href="{{ link }}">{{ link }}</a>
                </li>
                {% if loop.last %}
            </ol>{% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</article>
{% endblock %}
